{% load static %}
<section class="section" id="acerca">
    <article class="article">
        <div class="article__container">
            <h2 class="subtitle about">Acerca de mi</h2>
            <p class="article__description">
                Soy un ingeniero mecatrónico con conocimientos en Python, Django, SQL, entre otros. Me
                apasiona y divierte la programación, y busco mejorar continuamente a través de cursos y la
                investigación de nuevos conocimientos. He ganado experiencia en la creación de proyectos
                básicos a través de cursos y proyectos comunitarios, lo que ha mejorado mi capacidad práctica.
                Busco oportunidades laborales para seguir aumentando mi experiencia y contribuir con mis
                habilidades y capacidad de aprendizaje. Estoy seguro de que puedo ayudar en cualquier proyecto
                y estoy ansioso por poner en práctica lo que he aprendido hasta ahora.
            </p>
        </div>
        <div class="article__container intereses">
            <h2 class="subtitle intereses">Intereses</h2>
            <p class="article__description">
                Me gusta escuchar música <span>&#9835;</span>, especialmente Rock y salsa. Tambien practico
                deportes, sobre todo voleibol <span>&#127952;</span>. En mi tiempo libre, disfruto viendo
                peliculas y series, jugar videojuegos. Siempre es buen momento para tomar café
                <span>&#x2615;</span>. Todas estas actividades me ayudan a trabajar en grupo y mantener un
                buen ambiente laboral. Una de mis metas es poder viajar <span>&#128747;</span> para conocer
                nuevos paisajes y culturas sociales.<br>Considero que viajar es una forma enriquecedora de
                aprender y de abrir la mente a nuevas ideas y perspectivas.
            </p>
        </div>
    </article>
</section>
