<nav class="nav">
    <div class="burger no_activo" id="burger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <ul class="nav__list" id="menu">
        <li class="nav__item active" data-menuanchor="perfil">
            <a href="#perfil"><i class="nav__icon fa-solid fa-house"></i><span>Inicio</span></a>
        </li>
        <li class="nav__item" data-menuanchor="acerca">
            <a href="#acerca"><i class="nav__icon fa-solid fa-message"></i><span>Acerca de mí</span></a>
        </li>
        <li class="nav__item" data-menuanchor="proyectos">
            <a href="#proyectos"><i class="nav__icon fa-solid fa-briefcase"></i><span>Proyectos</span></a>
        </li>
        <li class="nav__item" data-menuanchor="estudios">
            <a href="#estudios"><i class="nav__icon fa-solid fa-book"></i><span>Estudios</span></a>
        </li>
        <li class="nav__item" data-menuanchor="habilidades">
            <a href="#habilidades"><i class="nav__icon fa-solid fa-gear"></i><span>Habilidades</span></a>
        </li>
        <li class="nav__item" data-menuanchor="contacto">
            <a href="#contacto"><i class="fa-solid fa-user-group"></i><span>Contactó</span></a>
        </li>
    </ul>
</nav>