{% load static %}
<section class="section" id="habilidades">
    <article class="article">
        <h2 class="subtitle">Habilidades</h2>
        <ul class="skills__list">
            <li class="skill"><img src="{% static 'img/python.svg' %}" alt="python"><span>Python</span></li>
            <li class="skill"><img src="{% static 'img/Django.svg' %}" alt="Django"><span>Django</span> </li>
            <li class="skill"><img src="{% static 'img/SQL.svg' %}" alt="sql"><span>SQL</span></li>
            <li class="skill"><img src="{% static 'img/HTML.svg' %}" alt="html"><span>HTML</span></li>
            <li class="skill"><img src="{% static 'img/CSS.svg' %}" alt="css"><span>CSS</span></li>
            <li class="skill"><img src="{% static 'img/Js.svg' %}" alt="javascript"><span>JavaScript</span> </li>
        </ul>
    </article>
</section>