<section class="section" id="estudios">
    <article class="article">
        <h2 class="subtitle">Estudios</h2>
        <ul class='studies__list'>
            <li class="list__item">
                <span class="content">
                    <span>Profesional en Ingeniería Mecatrónica (2020) </span>
                </span>
            </li>
            <li class="list__item">
                <span class="content">
                    <span>Misión Tic 2022 Programa de Desarrollo (2021)</span>
                </span>
            </li>
            <li class="list__item">
                <span class="content">
                    <span>Diplomatura en Python (2022)</span>
                </span>
            </li>
            <li class="list__item">
                <span class="content">
                    <span>Programa codo a codo - Fullstack Python(2022)</span>
                </span>
            </li>
        </ul>
    </article>
</section>