@media (max-width :1090px) {
    .burger {
        display: block;
    }
    .media {
        transform: translateY(350px);
    }
    .nav__list {
        display: block;
        flex-direction: column;
        position: absolute;
        top: -300px;
        left: 0;
        transition: transform 0.3s ease;
    }
    .nav__item {
        background-color: rgba(46, 46, 46, 0.934);
    }
    .section{
        padding: 1rem;
    }
    .article{
        overflow: hidden;
        width: 90ch;
        padding: 2rem;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }    
    /* perfil */
    .profile{
        flex-direction: row;
        width: 100%;
        height: 100%;
        padding: 60px 0px 0px 0px;
    }
    .profile__avatar{
        margin: 0px 0px 15px 0px;
        padding: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .profile__container{
        margin: 0;
        padding: 0;
        width: 100%;
        align-items: center;
    }
    .profile__title{
        font-size: 3rem;
        width: 100%;
    }
    .profile__description{
        font-size: 1.8rem;
    }
    .subtitle{
        font-size: 2.5rem;
    }
    /* acerca */
    .article__description{
        text-align: center;
        font-size: 1.2rem;
    }
    /* studias */
    .studies__list{
        font-size: 1.2rem;
        padding: 0px 0px 0px 15px;
    }
    .list__item{
        width: 100%;
    }
    /* habilidades */
    .skills__list{
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
    }
    /* proyectos */
    .proyecto{
        min-height: 500px;
    }
    .container__proyectos{
        overflow: hidden;
    }
    .carrusel__container{
        left: 39%;
    }
    .card{
        font-size: 0.8rem;
        width: 350px;
        height: 350px;
    }
    .card__links{
        position: relative;
        margin-top: 5px 5px 0px 0px ;
        top:0;
    }
    .button__proyect{
        font-size: 1.8rem;
        max-width: 45px;
        max-height: 45px;
        min-width: 30px;
        min-height: 30px;
    }
    #prev {
        left: 5%;
    }
    
    #next {
        right: 5%;
    }
    /* contacto */

    .form__group {
        font-size: 1.2rem;
        width: 90%;
        margin-bottom: 30px;
    }

    .text__area {
        min-height: 100px;
    }

    .form__label {
        font-size: 1.2rem;
    }

    .form__input:focus+.form__label {
        transform: translate(-15px, -25px) scale(.8);
    }

    .button {
        font-size: 1.4rem;
        max-width: 120px;
        min-height: 50px;
    }

    /* boton redes */
    .boton__link,
    #boton__link {
        cursor: pointer;
        position: absolute;
        top: 88%;
        left: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        background: #1c1c1c;
        box-shadow:
            6px 6px 12px #101010,
            -6px -6px 12px #282828;
        border-radius: 80px;
        text-decoration: none;
        font-size: 1.5rem;
    }
    #boton__link:hover{
        box-shadow:
            4px 4px 5px #101010,
            -4px -4px 5px #282828;
            transform: translate(-2px,-2px);
    }
    .redes {
        display: none;
        position: absolute;
        padding: 20px;
        border-radius: 20px;
        background-color: rgb(16, 16, 16);
        top: 50%;
        left: 50%;
        transition: transform 0.5s ease-in;
        transform: scale(0);
    }

    .activo_redes {
        display: flex;
        transform: scale(1);
        transform: translate(-50%, -50%);
    }

    .toolkit__link {
        width: 50px;
        height: 50px;
        border-radius: 60px;
        box-shadow: none;
    }

    .toolkit__link>i {
        font-size: 2rem;
    }

    .download {
        font-size: 1.4rem;
        background: #1c1c1c;
        box-shadow: none;
        border-radius: 28px;
    }
}
@media (max-width :550px) {
    .section{
        padding: 10px;
    }
    .article{
        overflow: hidden;
        width: 100%;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }    
    /* perfil */
    .profile{
        width: 100%;
        height: 100%;
        padding: 60px 0px 0px 0px;
    }
    .profile__avatar{
        margin: 0px 0px 15px 0px;
        padding: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .profile__container{
        margin: 0;
        padding: 0;
        width: 100%;
        align-items: center;
    }
    .profile__title{
        font-size: 1.8rem;
        width: 90%;
    }
    .profile__description{
        font-size: 1.4rem;
    }
    .subtitle{
        font-size: 2.2rem;
    }
    /* acerca */
    .article__description{
        text-align: center;
        font-size: 1rem;
    }
    /* studias */
    .studies__list{
        font-size: 1rem;
        padding: 0px 0px 0px 15px;
    }
    .list__item{
        width: 100%;
    }
    /* habilidades */
    .skills__list{
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }
    /* proyectos */
    .proyecto{
        min-height: 300px;
    }
    .container__proyectos{
        overflow: hidden;
    }
    .carrusel__container{
        left: 39%;
    }
    .card{
        font-size: 0.8rem;
        width: 250px;
        height: 250px;
    }
    .card__links{
        position: relative;
        margin-top: 5px 5px 0px 0px ;
        top:0;
    }
    .button__proyect{
        font-size: 1.8rem;
    }
    #prev {
        left: 5%;
    }
    
    #next {
        right: 5%;
    }
    /* contacto */

    .form__group {
        font-size: 1.2rem;
        width: 90%;
        margin-bottom: 30px;
    }

    .text__area {
        min-height: 100px;
    }

    .form__label {
        font-size: 1.2rem;
    }

    .form__input:focus+.form__label {
        transform: translate(-15px, -25px) scale(.8);
    }

    .button {
        font-size: 1.4rem;
        max-width: 120px;
        min-height: 50px;
    }
}